<div class="topups-container p-3">
  <div class="section-title-container text-center mb-4 mt-3">
    <h2
      class="section-title mb-4 d-inline-flex align-items-center justify-content-center text-primary"
    >
      Top-ups<span class="bottom-border"></span>
    </h2>
  </div>

  <div
    class="topups d-flex flex-wrap text-center gap-3 justify-content-center mb-5"
  >
    <div class="topup-item border radius p-3" *ngFor="let item of topupList">
      <div class="title">{{ item.name }}</div>
      <img
        src="../../../../../assets/imgs/Top-up.png"
        alt=""
        class="img-fluid d-block mx-auto"
      />
      <div class="kms">{{ item.kms }} kms</div>
      <div class="price">&#8377;{{ item.price }}</div>

      <button
        class="button button-primary w-50 mt-3 p-1"
        (click)="selectTopup(item)"
      >
        Buy
      </button>
    </div>
  </div>
  <p class="mb-4 text-danger text-center">
    Complimentary Kilometres provided in the plan is not rolled over to the next
    month. Top-up Kilometres are rolled over.*
  </p>
</div>
