<div class="success-container">
  <div
    class="p-5 d-flex flex-column text-center align-items-center justify-content-center"
  >
    <img
      src="../../../../../assets/imgs/Success.png"
      alt=""
      class="img-fluid d-block mx-auto mb-3"
    />
    <div class="text-uppercase mb-3">Ticket Raised Successfully !!</div>
    <p class="text-quaternary mb-3">Ticket No.<br />12545444432124</p>
    <p class="text-quaternary mb-3">
      our Support Team will get in touch with you soon.
    </p>

    <button class="button button-primary" (click)="viewStatus()">
      View Status
    </button>
  </div>
</div>
