<div style="height: 100px"></div>
<div class="success-container d-flex algin-items-center justify-content-center">
  <div class="p-5">
    <div
      class="d-flex algin-items-center justify-content-between flex-column sections"
    >
      <div class="top-section">
        <img
          src="../../../../assets/imgs/Success-large.svg"
          alt="Success"
          class="img-fluid d-block mx-auto mb-5"
        />

        <div class="text text-center mb-2">Payment Successful !!</div>
        <p class="text-quaternary mb-5 text-center">
          Transaction ID<br />
          569321364823213
        </p>
      </div>
      <button class="button button-primary submit-button">Okay !</button>
    </div>
  </div>
</div>
