<div class="success-container">
  <div class="p-5">
    <div
      class="d-flex algin-items-center justify-content-between flex-column sections"
    >
      <div class="top-section">
        <img
          src="../../../../assets/imgs/Success-large.svg"
          alt="Success"
          class="img-fluid d-block mx-auto mb-5"
        />

        <div class="text text-center mb-2">
          Your query summitted successfully !
        </div>
        <p class="text-quaternary mb-5 text-center">
          Our team will reach out to you within next 24 working hours.
        </p>
      </div>

      <button class="button button-primary" (click)="close()">Okay !</button>
    </div>
  </div>
</div>
