<div class="things-you-should-know">
  <div class="container px-1 mt-3 mt-md-5 py-2 py-md-5">
    <h2 class="section-title-1 text-center mt-1 mb-3">
      Things You Should Know
    </h2>
    <p class="text-center">
      Using EV for first time?... We are here to clear you out with all your
      doubts.
    </p>

    <div class="detail-box d-flex flex-wrap gap-4">
      <div class="image-box">
        <img
          src="../../../../assets/imgs/things-you-should-know.png"
          img-fluid
          alt=""
        />
      </div>
      <div class="details-content d-flex flex-column gap-3">
        <div class="detail-item">
          <div class="icon-section">
            <div class="bg-electrical_services"></div>
          </div>
          <div class="content-section">
            <p class="text-center"><strong>How to Charge?</strong></p>
            <p>Turn off the MCB first, disconnect.....</p>
          </div>
        </div>
        <div class="detail-item">
          <div class="icon-section">
            <div class="bg-ev_charger"></div>
          </div>
          <div class="content-section">
            <p class="text-center"><strong>Where to charge?</strong></p>
            <p>You can charge your bike in any 5 amp socket</p>
          </div>
        </div>
        <div class="detail-item">
          <div class="icon-section">
            <div class="bg-request_quote"></div>
          </div>
          <div class="content-section">
            <p class="text-center"><strong>What is the range?</strong></p>
            <p>It varies from vehicle to vehicle but minimum...</p>
          </div>
        </div>
        <div class="detail-item">
          <div class="icon-section">
            <div class="bg-hourglass_top"></div>
          </div>
          <div class="content-section">
            <p class="text-center">
              <strong>How long does it take to full charge?</strong>
            </p>
            <p>It normally takes 3-3.5hrs.....</p>
          </div>
        </div>

        <div class="text-center mt-auto">
          <a
            [routerLink]="['/things-you-should-know']"
            class="learn-more-button button button-primary d-inline-block mt-auto"
            >Learn More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
