<div class="success-container">
  <div class="p-5">
    <div
      class="d-flex algin-items-center justify-content-between flex-column sections"
    >
      <div class="top-section">
        <img
          src="../../../assets/imgs/Success.png"
          alt="Success"
          class="img-fluid d-block mx-auto mb-5"
        />

        <div class="text text-center text-uppercase">
          Documents Uploaded Successfully
        </div>
      </div>

      <button class="button button-primary" (click)="close()">Back</button>
    </div>
  </div>
</div>
