/*
 Image Sprites
 */

.bg-add_a_photo {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1750px -1570px;
}

.bg-Add_Image {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1818px -1570px;
}

.bg-Arrow_drop_down {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1886px -1570px;
}

.bg-Arrow_drop_down__grey {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1954px -1570px;
}

.bg-arrowdrop_down_right {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2022px -1570px;
}

.bg-Battery_ + _ {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1570px -1683px;
}

.bg-Bike {
  width: 500px;
  height: 500px;
  background: url("../imgs/css_sprites.png") -10px -10px;
}

.bg-calendar_month {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1638px -1683px;
}

.bg-Call_on_process {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1706px -1683px;
}

.bg-Charge {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1774px -1683px;
}

.bg-charger {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1842px -1683px;
}

.bg-Choose_1 {
  width: 500px;
  height: 500px;
  background: url("../imgs/css_sprites.png") -530px -10px;
}

.bg-Choose_2 {
  width: 500px;
  height: 500px;
  background: url("../imgs/css_sprites.png") -10px -530px;
}

.bg-Choose_3 {
  width: 500px;
  height: 500px;
  background: url("../imgs/css_sprites.png") -530px -530px;
}

.bg-Circle_and_left_arrow {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1910px -1683px;
}

.bg-Circle_and_right_arrow {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1978px -1683px;
}

.bg-Circle_Minus {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1570px -1751px;
}

.bg-Circle_Minus_2 {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1638px -1751px;
}

.bg-Circle_plus {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1706px -1751px;
}

.bg-Circle_plus_2 {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1774px -1751px;
}

.bg-Circle_tick {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1842px -1751px;
}

.bg-Circle_tick_1 {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1910px -1751px;
}

.bg-Close {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1978px -1751px;
}

.bg-Corporate {
  width: 500px;
  height: 500px;
  background: url("../imgs/css_sprites.png") -1050px -10px;
}

.bg-Current_location_2 {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1570px -1819px;
}

.bg-Current_location_3 {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1638px -1819px;
}

.bg-Current_Location {
  width: 92px;
  height: 93px;
  background: url("../imgs/css_sprites.png") -1570px -1570px;
}

.bg-Current_Location_4 {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1706px -1819px;
}

.bg-Current_location_pin {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1774px -1819px;
}

.bg-Delete {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1842px -1819px;
}

.bg-Document {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1910px -1819px;
}

.bg-Edit_option {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1978px -1819px;
}

.bg-Edit_option_1 {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1570px -1887px;
}

.bg-Edit_option_2 {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1638px -1887px;
}

.bg-electrical_services {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1706px -1887px;
}

.bg-Feedback_0 {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1774px -1887px;
}

.bg-ev_charger {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1842px -1887px;
}

.bg-Feedback_full {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1910px -1887px;
}

.bg-Filter {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1978px -1887px;
}

.bg-Goverment {
  width: 500px;
  height: 500px;
  background: url("../imgs/css_sprites.png") -1050px -530px;
}

.bg-hourglass_top {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1570px -1955px;
}

.bg-Inconvience_red {
  width: 500px;
  height: 500px;
  background: url("../imgs/css_sprites.png") -10px -1050px;
}

.bg-Inconvience_red_2 {
  width: 500px;
  height: 500px;
  background: url("../imgs/css_sprites.png") -530px -1050px;
}

.bg-Instagram {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1638px -1955px;
}

.bg-LinkedIN {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1706px -1955px;
}

.bg-Memo {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1774px -1955px;
}

.bg-Message {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1842px -1955px;
}

.bg-mode_off_on {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1910px -1955px;
}

.bg-navigate_before {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -1978px -1955px;
}

.bg-navigate_next {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -10px;
}

.bg-No_Data_Found {
  width: 500px;
  height: 500px;
  background: url("../imgs/css_sprites.png") -1050px -1050px;
}

.bg-Others {
  width: 500px;
  height: 500px;
  background: url("../imgs/css_sprites.png") -1570px -10px;
}

.bg-Partner_with_us {
  width: 500px;
  height: 500px;
  background: url("../imgs/css_sprites.png") -1570px -530px;
}

.bg-Payment_Failed {
  width: 500px;
  height: 500px;
  background: url("../imgs/css_sprites.png") -1570px -1050px;
}

.bg-pending_actions {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -78px;
}

.bg-photo_camera_back {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -146px;
}

.bg-photo_camera_back_1 {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -214px;
}

.bg-Pin_on_Map {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -282px;
}

.bg-Plug_in {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -350px;
}

.bg-Raise_Issue {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -418px;
}

.bg-request_quote {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -486px;
}

.bg-schedule {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -554px;
}

.bg-schedule_1 {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -622px;
}

.bg-Search {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -690px;
}

.bg-Self {
  width: 500px;
  height: 500px;
  background: url("../imgs/css_sprites.png") -10px -1570px;
}

.bg-Send_email {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -758px;
}

.bg-Skip {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -826px;
}

.bg-Snapchat {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -894px;
}

.bg-Speedometer {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -962px;
}

.bg-Station_location {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -1030px;
}

.bg-Student {
  width: 500px;
  height: 500px;
  background: url("../imgs/css_sprites.png") -530px -1570px;
}

.bg-Success {
  width: 48px;
  height: 49px;
  background: url("../imgs/css_sprites.png") -1682px -1570px;
}

.bg-Tick {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -1098px;
}

.bg-Top_up {
  width: 500px;
  height: 500px;
  background: url("../imgs/css_sprites.png") -1050px -1570px;
}

.bg-Twitter {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -1166px;
}

.bg-Upload_Image {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -1234px;
}

.bg-User_s_current_location {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -1302px;
}

.bg-Whats_app {
  width: 48px;
  height: 48px;
  background: url("../imgs/css_sprites.png") -2090px -1370px;
}
