<div class="setup-container py-3 px-4">
  <button
    type="button"
    class="btn-close d-block ms-auto"
    (click)="close()"
  ></button>
  <div class="setup-form d-flex flex-column">
    <div class="setup-your-ac text-center text-primary mb-2">
      We are setting you up!
    </div>
    <p class="text-quaternary text-center">Tell us more about yourself</p>
    <form
      class="setup-form d-flex flex-column gap-3"
      [formGroup]="settingUpForm"
    >
      <div class="file-upload-container d-flex align-items-center gap-3">
        <div class="upload-section d-flex flex-column">
          <label
            for="fileUpload"
            class="file-upload d-flex flex-column justify-content-end align-items-center p-1"
          >
            <input
              type="file"
              name="fileUpload"
              id="fileUpload"
              class="d-none"
            />
            <span>Upload</span>
          </label>
          <p>Profile Photo</p>
        </div>
        <div class="preview-section">
          <button type="button" class="button border d-block mb-2 px-5">
            Preview
          </button>
          <p>
            Supported file types : .PNG .JPG .PDF. The maximum size of the
            image<br />
            should between 500kb to 3.5mb.
          </p>
        </div>
      </div>
      <div class="control-container mb-5">
        <div class="form-group mb-3">
          <label for="fullName" class="form-label"
            >Full name <span>(as per Aadhar) </span>
            <span class="text-danger">*</span></label
          >
          <input
            type="text"
            name="fullName"
            id="fullName"
            formControlName="fullName"
            class="form-control"
          />
          <div
            *ngIf="submitted && f.fullName.errors"
            class="invalid-feedback d-block"
          >
            <div *ngIf="f.fullName.errors.required">Please Enter Name</div>
            <div *ngIf="f.fullName.errors.pattern">Please Enter Valid Name</div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="emailId" class="form-label"
            >Email <span class="text-danger">*</span></label
          >
          <input
            type="text"
            name="emailId"
            id="emailId"
            formControlName="emailId"
            class="form-control"
          />
          <div
            *ngIf="submitted && f.emailId.errors"
            class="invalid-feedback d-block"
          >
            <div *ngIf="f.emailId.errors.required">
              Please Enter Email Address
            </div>
            <div *ngIf="f.emailId.errors.pattern">
              Please Enter a Valid Email Address
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input
            type="text"
            name="phoneNumber"
            id="phoneNumber"
            formControlName="phoneNumber"
            class="form-control valid-input"
          />
          <div
            *ngIf="submitted && f.phoneNumber.errors"
            class="invalid-feedback d-block"
          >
            <div *ngIf="f.phoneNumber.errors">Please Enter Valid Phone</div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="occupation" class="form-label"
            >Occupation
            <span class="text-danger">*</span>
            <span>
              (You have to provide valid organization proof while adding
              KYC)</span
            >
          </label>
          <div class="container">
            <div class="row">
              <div class="col-6 ps-0">
                <select
                  name="occupation"
                  id="occupation"
                  class="form-select"
                  formControlName="occupation"
                >
                  <option value="">Select</option>
                  <option value="student">Student</option>
                  <option value="corporate-employee">Corporate Employee</option>
                  <option value="government-employee">
                    Governement Employee
                  </option>
                  <option value="self-employee">Self Employee</option>
                  <option value="others">Others</option>
                </select>
                <div
                  *ngIf="submitted && f.occupation.errors"
                  class="invalid-feedback d-block"
                >
                  <div *ngIf="f.emailId.errors.required">
                    Please select occupation
                  </div>
                </div>
              </div>
              <div class="col-6 pe-0">
                <input
                  type="text"
                  name="occupationName"
                  id="occupationName"
                  formControlName="occupationName"
                  class="form-control"
                  placeholder="Type your organization name"
                />
                <div
                  *ngIf="submitted && f.occupationName.errors"
                  class="invalid-feedback d-block"
                >
                  <div *ngIf="f.emailId.errors.required">
                    Please select occupationName
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="submit-button">
        <button
          type="button"
          class="button border send-otp w-100 d-block mb-3 mx-auto"
          (click)="submitSetupForm()"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
