@import "../../../assets/_scss/variables";
@import "../../../assets/_scss/mixins";

/**
 * Home page
 */
.home-page {
  .hero-section {
    background: url("../../../assets/imgs/hero-bg.png") no-repeat bottom center;
    font-family: $font, serif;
    padding-top: 100px;
    background-size: cover;
    @media screen and (max-width: 1199px) {
      padding-top: 50px;
    }
    @media screen and (max-width: 767px) {
      padding-top: 25px;
    }
    .section-title-container {
      margin-bottom: 40px;
      @media screen and (max-width: 767px) {
        display: none;
      }
      h3 {
        font-size: 34px;
        font-weight: 800;
        line-height: 40px;
        letter-spacing: 0.25px;
        gap: 12px;
        img {
          width: 60px;
        }
      }
      @include section-title($tertiary);
    }
  }

  .co2-saved-section {
    margin-top: 100px;
    position: relative;
    margin-bottom: 100px;
    @media screen and (max-width: 991px) {
      margin-top: 50px;
      margin-bottom: 75px;
    }
    @media screen and (max-width: 767px) {
      margin-top: 25px;
    }
    .co2-emit-details {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $tertiary;
      .title-text {
        font-weight: 700;
        font-size: 96px;
        line-height: 112px;
        letter-spacing: -1.5px;
        color: $tertiary;
        @media screen and (max-width: 991px) {
          font-size: 72px;
          line-height: 84px;
        }
        @media screen and (max-width: 767px) {
          font-size: 48px;
          line-height: 56px;
        }
      }
      .sub-title-text {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        color: $tertiary;
        text-align: center;
        @media screen and (max-width: 991px) {
          font-size: 42px;
          line-height: 49px;
        }
        @media screen and (max-width: 767px) {
          font-size: 36px;
          line-height: 42px;
        }
      }
    }
  }
}
