<div class="profile-container">
  <div class="container">
    <div class="text-end pt-4 pb-3">
      <a
        href="javascript: void(0)"
        class="text-quaternary d-inline-block text-decoration-none"
        (click)="openSkipForNowModal()"
      >
        Skip For Now
        <img
          src="../../../assets/imgs/Skip.png"
          alt=""
          style="width: 18px; display: inline-block; margin-left: 10px"
        />
      </a>
    </div>
    <div class="row">
      <div class="col-lg-3 pb-3 d-none d-lg-block">
        <app-side-nav></app-side-nav>
      </div>
      <div class="col-12 col-lg-9 pb-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
