<div class="contact-us-container">
  <div class="container px-1 pt-4">
    <app-page-title
      [titleData]="{ title: 'Contact Us', className: 'text-primary' }"
    ></app-page-title>
    <div class="info-section">
      <div class="info-item bg-primary-light">
        <div class="info-icon bg-Call_on_process"></div>
        <div class="info-text">+91 94390 99990</div>
      </div>
      <div class="info-item bg-primary-light">
        <div class="info-icon bg-Whats_app"></div>
        <div class="info-text">+91 94390 99990</div>
      </div>
      <div class="info-item bg-primary-light">
        <div class="info-icon bg-Message"></div>
        <div class="info-text">
          <a href="mailto:info@driev.bike">info@driev.bike</a>
        </div>
      </div>
      <div class="info-item bg-primary-light">
        <div class="info-icon bg-Station_location"></div>
        <div class="info-text">
          257,2nd floor Devika niwas, Jaydev Vihar, Bhubaneswar, Odisha 751013
        </div>
      </div>
    </div>
  </div>

  <div class="container px-1 mt-3 mt-md-5">
    <app-contact-form></app-contact-form>
  </div>
</div>
