<div class="page-not-found d-flex align-items-center justify-content-center">
  <div class="text-center">
    <img
      src="{{ assetPath }}imgs/Oops.svg"
      alt=""
      class="img-fluid d-block mx-auto oops"
      style="max-width: 20vh"
    />
    <img
      src="{{ assetPath }}imgs/No-Data-Found.png"
      alt=""
      class="img-fluid d-block mx-auto bike"
    />
    <p class="mb-5">We can't seem to find the page you<br />are looking for</p>
    <div class="error">That's an Error</div>
    <p>Error Code :- 404</p>
  </div>
</div>
