<div class="cancellation-details-container position-relative">
  <a href=""></a>
  <a href="javascript: void(0)" class="mail-me position-absolute">
    <img
      src="../../../../../assets/imgs/Send-email.png"
      alt=""
      class="img-fluid"
    />
  </a>
  <div class="p-4">
    <div class="title text-danger text-center mb-5">Cancellation Details</div>

    <ul class="list d-flex flex-column gap-3">
      <li>
        <div class="key">Booking Date & Time</div>
        <div class="value">14-nov-22 11:30 hrs</div>
      </li>
      <li>
        <div class="key">Plan price</div>
        <div class="value">&#8377; 499</div>
      </li>
      <li>
        <div class="key">Delivery Charges</div>
        <div class="value">&#8377; 100</div>
      </li>
      <li>
        <div class="key">Battery Charges</div>
        <div class="value">&#8377; 120</div>
      </li>
      <li>
        <div class="key text-secondary">Helemet Charges</div>
        <div class="value">&#8377; 29</div>
      </li>
      <li>
        <div class="key text-secondary">Sub total (GST 5% included )</div>
        <div class="value">&#8377; 648</div>
      </li>
      <li>
        <div class="key text-secondary">Refundable security deposit</div>
        <div class="value">&#8377; 1999</div>
      </li>
      <li>
        <div class="key text-secondary">Total amount</div>
        <div class="value">&#8377; 2747</div>
      </li>
      <li>
        <div class="key text-secondary">Cancellation Charges</div>
        <div class="value">&#8377; 747</div>
      </li>
      <li>
        <div class="key text-secondary">Refundable Amount</div>
        <div class="value">&#8377; 2000</div>
      </li>
    </ul>

    <button
      class="button button-primary proceed-to-payment mt-5 mx-auto d-block"
      (click)="close()"
    >
      Okay
    </button>
  </div>
</div>
