@import "../../../assets/_scss/variables";
.skip-for-now-modal-body {
  gap: 60px;
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.15px;
    color: $secondary;
  }
  .button-section {
    width: 70%;
  }
}
