<div class="billing-details-container pt-3 pb-5">
  <div class="section-title-container text-center mb-4 mt-3">
    <h2
      class="section-title mb-4 d-inline-flex align-items-center justify-content-center text-primary"
    >
      Top-ups<span class="bottom-border"></span>
    </h2>
  </div>

  <div class="billing-details mx-auto border radius p-4 mb-5">
    <div class="title text-center mb-5">Billing Details</div>

    <ul class="list d-flex flex-column gap-3">
      <li>
        <div class="key">Plan Type</div>
        <div class="value">Speed</div>
      </li>
      <li>
        <div class="key">Rental Type</div>
        <div class="value">Monthly</div>
      </li>
      <li>
        <div class="key">Top-up Type</div>
        <div class="value">Chota Recharge</div>
      </li>
      <li>
        <div class="key">Top-up Price</div>
        <div class="value">&#8377; 350</div>
      </li>
      <li>
        <div class="key text-secondary">Total Amount (including 5% GST)</div>
        <div class="value">&#8377; 367.5</div>
      </li>
    </ul>

    <button
      class="button button-primary proceed-to-payment mt-5 mx-auto d-block"
    >
      Proceed To Payment
    </button>
  </div>
</div>
