<div class="things-usd-know-container mb-5 py-5">
  <div class="container px-1">
    <app-page-title
      [titleData]="{
        title: 'Things you should know',
        className: 'text-primary'
      }"
    ></app-page-title>

    <div class="list-container">
      <div class="list-item p-4">
        <div class="image-container">
          <img
            src="{{ assetPath }}imgs/electrical_services.png"
            alt=""
            class="img-fluid d-block mx-auto"
          />
        </div>
        <div class="item-title text-center">How To Charge?</div>
        <div class="item-description">
          <p>
            There are two ways to charge your vehicle. You can use the
            convenience of swappable Battery (If you have that model) to take
            out your battery and charge in the comforts of your home. Steps to
            remember:
          </p>
          <ul>
            <li>Switch off the MCB first to avoid electric shock</li>
            <li>Take out the battery after removing the strap</li>
            <li>And Charge the battery after using your connector</li>
          </ul>
          <p class="text-center">or</p>
          <p>
            Just plug in the charger and find the socket just beneath the front
            of your seat and charge.
          </p>
        </div>
        <div class="item-note">
          <p>
            <span class="text-danger">NOTE</span> - Do not charge the battery
            overnight Avoid deep discharge
          </p>
        </div>
      </div>
      <div class="list-item p-4">
        <div class="image-container">
          <img
            src="{{ assetPath }}imgs/ev_charger.png"
            alt=""
            class="img-fluid d-block mx-auto"
          />
        </div>
        <div class="item-title text-center">Where To Charge?</div>
        <div class="item-description">
          <p>
            Find a 5 amp socket to plug in your charger. In order to recognise a
            5Amp socket, identify the 3 pin socket where you would normally
            charge your laptop.
          </p>
        </div>
      </div>
      <div class="list-item p-4">
        <div class="image-container">
          <img
            src="{{ assetPath }}imgs/request_quote.png"
            alt=""
            class="img-fluid d-block mx-auto"
          />
        </div>
        <div class="item-title text-center">What is the range?</div>
        <div class="item-description">
          <p>
            It varies from model to model and rider to rider. Riding behaviours
            govern mileage to a lot of extent but do reach out to our Customer
            Support to know the true range of your vehicle.
          </p>
        </div>
      </div>
      <div class="list-item p-4">
        <div class="image-container">
          <img
            src="{{ assetPath }}imgs/hourglass_top.png"
            alt=""
            class="img-fluid d-block mx-auto"
          />
        </div>
        <div class="item-title text-center">
          How long does it take to full Charge?
        </div>
        <div class="item-description">
          <p>
            It normally takes 3-3.5 hours to take a battery from 0% to 100%.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
