@import "../../../assets/_scss/variables";

.things-usd-know-container {
  .list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    grid-template-rows: repeat(2, 1fr);
    @media screen and (max-width: 1199px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    @media screen and (max-width: 991px) {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
    .list-item {
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      border-radius: $radius;
      display: flex;
      flex-direction: column;
      gap: 15px;
      .item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.15px;
        color: $secondary;
      }
      .item-description {
        font-weight: 400;
        font-size: 12px;
        line-height: 183.19%;
        letter-spacing: 0.4px;
        color: $quaternary;
      }
      .item-note {
        font-weight: 400;
        font-size: 12px;
        line-height: 183.19%;
        letter-spacing: 0.4px;
      }
    }
  }
}
